.pagination {
  width: 80%;
  margin: 20px auto 0;
  display: grid;
  row-gap: 25px;
  font-size: 18px;
  color: lightgray;
}

.pagination__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.info__text {
  margin: 0;
}

.pagination__buttons {
  display: grid;
  grid-template-columns: 2fr repeat(6, 1fr) 2fr;
  gap: 5px;
}

.pagination-button {
  padding: 8px 10px;
  color: lightgray;
}

.pagination-button:disabled {
  cursor: default;
  color: gray;
}

.pagination-button:disabled:hover {
  border-color: transparent;
}

.pagination-button--current {
  color: white;
  font-weight: bold;
  background-color: #141414;
}

@media (prefers-color-scheme: light) {
  .pagination {
    color: #32367f;
  }
  
  .pagination-button {
    color: #32367f;
    background-color: #f6f6fa;
  }

  .pagination-button--current {
    color: #282b66;
    font-weight: bold;
    background-color: #ddddec;
  }

  .pagination-button:disabled {
    color: #9a94be;
  }
}

@media (max-width: 850px) {
  .pagination__buttons {
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .pagination-button {
    padding: 15px;
    grid-column: span 2;
  }

  .pagination-button--neighbour {
    grid-row: 1 / 2;
    grid-column: span 3;
  }
}