.pokemons-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  max-width: 100%;
  width: auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 4fr));
  gap: 20px;
}
