.card.card--pokemon{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  background-color: #26262B;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.2s;
}

.card.card--pokemon:hover {
  border-color: #646cff;
}

.card.card--pokemon img{
  transition: transform 0.2s;
}

.card.card--pokemon:hover img{
  transform: scale(1.1);
}
